@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    all: unset; 
    font-family: 'Montserrat', sans-serif;
    background-color: #EAF2EF;
}

.name-title {
    font-size: 2rem;
    text-align: center;
}

.logo-up {
    max-width: 20%;
}

.cont-education {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.education {
    margin: 1rem;
}

.education h3 {
    text-align: center;
    font-size: 2rem;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.skills ul li {
    max-width: 40ch;
}

.header  {
    background-color: rgb(34, 34, 34);
    -webkit-box-shadow: 5px 5px 43px -5px #000000; 
    box-shadow: 5px 5px 43px -5px #000000;
}

.nav-list {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.nav-list a {
    all: unset;
    padding: 17px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color:white;
    cursor: pointer;
    transition: 0.3s;
}

.nav-list a:hover {
    background-color: #EAF2EF;
    color: rgb(34, 34, 34);
}

.activities {
    background-color: rgb(34, 34, 34);
    padding: 1rem 1rem 1rem 1rem;
    color:white;
}

.activities h3{
    text-align: center;
    font-size: 2rem;
}

.activities p{
    margin-left: 1rem;
}
.lan h4{
    text-align: center;
}

.lan ul{
    list-style-type: square;
}

.others h4{
    text-align: center;
}

.others ul{
    list-style-type: square;
}

.footer{
    position: relative;
    background-color: rgb(34, 34, 34);
    padding: 0.1rem;
    color: white;
    text-align: center;
    bottom: 0;
    width:100%;
    margin-top: 3rem;
}

footer {
    margin-top: auto;
}

.pl{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.pl-logos img{
    width: 25%;
    margin: 0.2rem;
}

.skills div{
    width: 33%;
}

.sm-logos a{
    text-decoration: none;
    background-color: rgb(34, 34, 34);
    color:white;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 5px;
    margin: 1rem;
    min-width: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.sm-logos a:hover{
    text-decoration: none;
    background-color: #EAF2EF;
    color:rgb(34, 34, 34);
}

.sm-logos {
    display:flex;
    justify-content: center;
    margin-bottom: 4rem;
}

h4 a {
    all: unset;
    padding: 2rem;
    background-color: rgb(34, 34, 34);
    margin: 3rem;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

h4 a:hover {
    background-color: #EAF2EF;
    color: black;
}